@model WebTaskMaster.Models.Project.ProjectCreateModel

@{
    ViewData["Title"] = "Create new project";
}

<div class="container text-center">
    <div class="row justify-content-center rounded-5 teamFormBody">
        <h1 class="col-12 mt-4">@ViewData["Title"]</h1>

        @if (Model.AvailableTeams?.Count > 0)
        {
            <form asp-action="Create">
                <div class="text-danger col-12" asp-validation-summary="ModelOnly"></div>

                <div class="text-start fs-4 my-3 p-4 rounded-5 teamFormInputBody">
                    <label asp-for="@Model.Name" class="form-label"></label>
                    <input asp-for="@Model.Name" class="form-control fs-4" autocomplete="name" aria-required="true" />
                    <span asp-validation-for="@Model.Name" class="text-wite"></span>
                </div>

                <div class="text-start fs-4 my-3 p-4 rounded-5 teamFormInputBody">
                    <label asp-for="@Model.Description" class="form-label"></label>
                    <textarea asp-for="@Model.Description" class="form-control fs-4" autocomplete="description" aria-required="true"></textarea>
                    <span asp-validation-for="@Model.Description" ></span>
                </div>

                <div class="text-start fs-4 my-3 p-4 rounded-5 teamFormInputBody">
                    <label asp-for="@Model.AvailableTeams" class="form-label"></label>
	                <select asp-for="@Model.TeamId" class="form-select">
                        @foreach (var team in Model.AvailableTeams!)
                        {
                            <option value="@team.TeamId">@team.Name</option>
                        }
                    </select>
                   
                    <span asp-validation-for="@Model.TeamId" ></span>
                </div>

                <div class="col-12 col-md-3 col-xxl-2 d-grid mb-4  ">
                    <button class="btn btn-warning fs-5 " type="submit">Create new project</button>
                </div>
            </form>
        }
        else
        {
            <div class="col-12 my-3">
                <p class="fs-5">You cannot create a project because you are not the leader of any team.</p>
                <p class="fs-5">If you want to create a project, add your own team first.</p>
            </div>

            <div class="col-12 col-md-3 col-xxl-2 d-grid mb-2">
                <a class="btn btn-primary" asp-controller="Team" asp-action="Add" asp-route-fromCreateProjectView="true">Add team</a>
            </div>
        }
    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
@section Style
{
	<link rel="stylesheet" href="~/css/Team/TeamEditShared.css" />
}