@model WebTaskMaster.Models.Team.TeamAddMembersModel

@{
    ViewData["Title"] = "Add members";
}

<div class="container">
    <div class="row justify-content-center">
        <h1 class="col-12 text-center">Add members</h1>

        <form asp-action="AddMembers">
            <input hidden="true" asp-for="TeamId" />

            <div class="text-danger col-12" asp-validation-summary="ModelOnly"></div>

            <label asp-for="@Model.AvailableMembers" class="form-label"></label>
            <select asp-for="@Model.NewMemberIds" class="form-select">
                @foreach (var member in Model.AvailableMembers!)
                {
                    <option value="@member.MemberId">@($"{member.FirstName} {member.LastName}")</option>
                }
            </select>

            <div class="form-text my-1">
                <span class="fs-6 text-warning">ctrl + click</span>
                <span class="fs-6 text-info">- select multiple members.</span>
            </div>

            <span asp-validation-for="@Model.NewMemberIds" class="text-danger"></span>

            <div class="col-12 col-md-3 col-xxl-2 d-grid">
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>

@section Scripts
    {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}