@using Microsoft.AspNetCore.Http.Extensions

@model WebTaskMaster.Models.Task.WebTaskModel;
@{
            var url = Context.Request.GetEncodedUrl();
}
<script>    
    function edit(element)
    {
        document.getElementById("reset-" + element).style.display = "initial";
        document.getElementById("submit-" + element).style.display = "initial";
        document.getElementById("edit-" + element).style.display = "none";
        var disabledElements = document.getElementsByClassName("disabled-" + element);
        for (var i = 0; i < disabledElements.length; i++)
        {
            disabledElements[i].removeAttribute("disabled");
        }                            
        document.getElementById(element).setAttribute("draggable", "false");   
        document.getElementById("url-" + element).value = window.location.href;
    }
    function reset(element) 
    { 
        document.getElementById("reset-" + element).style.display = "none";
        document.getElementById("submit-" + element).style.display = "none";
        document.getElementById("edit-" + element).style.display = "initial";
        var disabledElements = document.getElementsByClassName("disabled-" + element);
        for (var i = 0; i < disabledElements.length; i++) 
        {
            disabledElements[i].setAttribute("disabled", "true");
        }
        
        document.getElementById(element).setAttribute("draggable", "true");
    }
    function deleteConfirmation() 
    { 
        return window.confirm("Chcesz usunąć to zadanie?");
    }
    
   

</script>
<div class="card task-style" id="@Model.ProjectTask.Id" style="width: 18rem; " draggable="true" ondragstart="drag(event)">
  <div class="card-body">      
        <form asp-controller="Task" asp-action="DeleteTask" onsubmit="return deleteConfirmation();" >
            <input asp-for="@Model.ProjectTask.Id" readonly style="display: none;" />
            <input asp-for="TasksListId" readonly style="display: none;" />
            <input asp-for="ProjectId" readonly style="display: none;" />
            <button type="submit" class="btn-close" aria-label="Close" style="float: right"></button>
            <input asp-for="url" readonly style="display: none;" value="@url" />
        </form>


        
        <form asp-controller="Task" asp-action="EditTask" id="form-@Model.ProjectTask.Id">
          <input asp-for="@Model.ProjectTask.Id" readonly style="display: none;"/>
          <input asp-for="@Model.ProjectTask.FinishDate" readonly style="display: none;" />
            <input asp-for="TasksListId" readonly style="display: none;" />
            <input asp-for="ProjectId" readonly style="display: none;" />
            <input asp-for="url" readonly id="url-@Model.ProjectTask.Id" style="display: none;" value="@url"/>
                <label>Task Name</label>
                <input asp-for="@Model.newValues[0]" value="@Model.ProjectTask.TaskName" class="card-title form-control disabled-@Model.ProjectTask.Id" disabled draggable="false" />
                      
            <label>Task Description</label>
            <textarea asp-for="@Model.ProjectTask.TaskDescription" name="Description" class="card-text form-control disabled-@Model.ProjectTask.Id" disabled draggable="false" rows="4" cols="50">
                
            </textarea>
            <input asp-for="@Model.newValues[1]" style="display: none"/>
            <div class="collapse" id="taskDetails-@Model.ProjectTask.Id">
                <label>Task Status</label>
                <select asp-for="@Model.newValues[2]" class="card-text form-select disabled-@Model.ProjectTask.Id" disabled id="newStatus-@Model.ProjectTask.Id" draggable="false">
                    @{
                        var statusNumber = @Model.ProjectTask.Status.StatusID();
                        string[] statusMsg = new string[]
                        {
                        "To do",
                        "in Progress",
                        "Done"
                        };

                        for(int i = 0; i < 3; i++)
                        {
                            if(i == statusNumber)
                            {
                                <option style="background-color: #38609C" value="@statusNumber" selected>@statusMsg[statusNumber]</option>
                            }
                            else
                            {
                                <option style="background-color: #38609C" value="@i">@statusMsg[i]</option>
                            }
                        }
                    }
                </select>
                @{
                    string finishDate;
                    if (Model.ProjectTask.FinishDate.HasValue)
                    {
                        finishDate = Model.ProjectTask.FinishDate.Value.ToString("yyyy-MM-dd");
                    }
                    else
                    {
                        finishDate = null;
                    }
                    

                }
                <label>Task Finish Date</label>
                <input asp-for="@Model.newValues[3]" value="@finishDate" type="date" class="card-text form-control disabled-@Model.ProjectTask.Id" disabled draggable="false" />
                
                <label>Assigned User</label>
                <select asp-for="@Model.newValues[4]" class="card-text form-select disabled-@Model.ProjectTask.Id" disabled disableddraggable="false">
                    <option style="background-color: #38609C" value="">none</option>
                    @{
                        if(Model.Team is null)
                        {

                        }
                        else
                        {                        
                            foreach(var member in Model.Team.Members)
                            {
                                if(Model.ProjectTask.AssignedUser is null)
                                {
                                    <option style="background-color: #38609C" value="@member.Id">@member.FirstName @member.LastName</option>
                                }
                                else
                                {
                                    if(member.Id == Model.ProjectTask.AssignedUser.Id)
                                    {
                                        <option style="background-color: #38609C" value="@member.Id" selected>@member.FirstName @member.LastName</option>
                                    }
                                    else
                                    {
                                        <option style="background-color: #38609C" value="@member.Id">@member.FirstName @member.LastName</option>
                                    }
                                }
                                
                                
                            }
                            
                        }
                        }
                </select>
              
                <br />
                <button type="button" id="edit-@Model.ProjectTask.Id" class="btn-warning btn">Edit</button>
                    
                <button type="reset" id="reset-@Model.ProjectTask.Id" style="display: none" class="btn-warning btn">Cancel</button>
            <button type="submit" id="submit-@Model.ProjectTask.Id" style="display: none" class="btn btn-success">Save</button>

      </form>
            
        </div>
        <p class="d-inline-flex gap-1">
            <a data-bs-toggle="collapse" href="#taskDetails-@Model.ProjectTask.Id" role="button" aria-expanded="false" aria-controls="taskDetails-@Model.ProjectTask.Id">            
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
            </svg>
            </a>
        </p>
    
  </div>
</div>

<script>
    
    var editButton = document.getElementById("edit-@Model.ProjectTask.Id");
    editButton.onclick = function () {
        edit("@Model.ProjectTask.Id");
    }

    var resetButton = document.getElementById("reset-@Model.ProjectTask.Id");
    resetButton.onclick = function () {
        reset("@Model.ProjectTask.Id");
    }
</script>