@model WebTaskMaster.Models.Task.WebTaskModel;

<script>    
    function edit(element)
    {
        document.getElementById("reset-" + element).style.display = "initial";
        document.getElementById(element).style.display = "initial";
        document.getElementById("edit-" + element).style.display = "none";
        var disabledElements = document.getElementsByClassName("disabled-" + element);
        for (var i = 0; i < disabledElements.length; i++)
        {
            disabledElements[i].removeAttribute("disabled");
        }
    }
    function reset(element) 
    { 
        document.getElementById("reset-" + element).style.display = "none";
        document.getElementById(element).style.display = "none";
        document.getElementById("edit-" + element).style.display = "initial";
        var disabledElements = document.getElementsByClassName("disabled-" + element);
        for (var i = 0; i < disabledElements.length; i++) {
            disabledElements[i].setAttribute("disabled", "true");
        }
    }
    function deleteConfirmation() 
    { 
        return window.confirm("Chcesz usunąć to zadanie?");
    }
    
   
</script>
<div class="card" id="@Model.ProjectTask.Id" style="width: 18rem;" draggable="true" ondragstart="drag(event)">
  <div class="card-body">      
        <form asp-controller="Task" asp-action="DeleteTask" onsubmit="return deleteConfirmation();" >
            <input asp-for="@Model.ProjectTask.Id" readonly style="display: none;" />
            <input asp-for="TasksListId" readonly style="display: none;" />
            <input asp-for="ProjectId" readonly style="display: none;" />
            <button type="submit" class="btn-close" aria-label="Close" style="float: right"></button></form>
        <form asp-controller="Task" asp-action="EditTask" id="form-@Model.ProjectTask.Id">
          <input asp-for="@Model.ProjectTask.Id" readonly style="display: none;"/>
          <input asp-for="@Model.ProjectTask.FinishDate" readonly style="display: none;" />
            <input asp-for="TasksListId" readonly style="display: none;" />
            <input asp-for="ProjectId" readonly style="display: none;" />
            <input asp-for="@Model.newValues[0]" value="@Model.ProjectTask.TaskName" class="card-title disabled-@Model.ProjectTask.Id" disabled />
            <input asp-for="@Model.newValues[1]" value="@Model.ProjectTask.TaskDescription" class="card-text disabled-@Model.ProjectTask.Id" disabled />
            
            <div class="collapse" id="taskDetails-@Model.ProjectTask.Id">
                <select asp-for="@Model.newValues[2]" class="card-text form-select disabled-@Model.ProjectTask.Id" disabled id="newStatus-@Model.ProjectTask.Id">
                    @{
                        var statusNumber = @Model.ProjectTask.Status.StatusID();
                        string[] statusMsg = new string[]
                        {
                        "Do zrobienia",
                        "W trakcie",
                        "Zrobiony"
                        };

                        for(int i = 0; i < 3; i++)
                        {
                            if(i == statusNumber)
                            {
                                                        <option value="@statusNumber" selected>@statusMsg[statusNumber]</option>
                            }
                            else
                            {
                                                        <option value="@i">@statusMsg[i]</option>
                            }
                        }
                    }
                </select>
                @{
                    string finishDate;
                    if (Model.ProjectTask.FinishDate.HasValue)
                    {
                        finishDate = Model.ProjectTask.FinishDate.Value.ToString("yyyy-MM-dd");
                    }
                    else
                    {
                        finishDate = null;
                    }
                    

                }
                <input asp-for="@Model.newValues[3]" value="@finishDate" type="date" class="card-text disabled-@Model.ProjectTask.Id" disabled />
                <br />
                <select asp-for="@Model.newValues[4]" class="card-text form-select disabled-@Model.ProjectTask.Id" disabled>
                    <option value="">brak</option>
                    @{
                        if(Model.Team is null)
                        {

                        }
                        else
                        {                        
                            foreach(var member in Model.Team.Members)
                            {
                                <option value="@member.Id">@member.FirstName @member.LastName</option>
                            }
                        }
                        }
                </select>
                <br />
                <button type="button" id="edit-@Model.ProjectTask.Id">Edytuj</button>
                    
                <button type="reset" id="reset-@Model.ProjectTask.Id" style="display: none">Anuluj</button>
                <button type="submit" id="@Model.ProjectTask.Id" style="display: none">Zapisz</button>
      </form>
            
        </div>
        <p class="d-inline-flex gap-1">
            <a data-bs-toggle="collapse" href="#taskDetails-@Model.ProjectTask.Id" role="button" aria-expanded="false" aria-controls="taskDetails-@Model.ProjectTask.Id">            
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
            </svg>
            </a>
        </p>
    
  </div>
</div>

<script>
    
    var editButton = document.getElementById("edit-@Model.ProjectTask.Id");
    editButton.onclick = function () {
        edit("@Model.ProjectTask.Id");
    }

    var resetButton = document.getElementById("reset-@Model.ProjectTask.Id");
    resetButton.onclick = function () {
        reset("@Model.ProjectTask.Id");
    }
</script>